.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/*///////////////////////////////////////*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.random-recipe {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.card {
    width: 50px;
    height: 50px;
    border: 2px solid grey;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px
}
.table-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.table {

    border: 2px solid grey;;
    padding: 15px;
    display: flex;
    /*align-items: center;*/
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 8px
}
.table-info {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    border: 4px solid hotpink;
    padding: 7px 10px;
    border-radius: 8px;
}
.button {
    padding: 10px 15px;
    border: none;
    background: hotpink;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    color: cornsilk;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
}
.selected-ingredients {
    display: flex;
    gap: 10px;
}
.ingredient-grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 10px;
}
.ingredient {
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 8px
}
.start-btn {
    padding: 10px 20px;
    background-color: hotpink;
    color: cornsilk;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    text-shadow: 1px 1px 1px grey;
}


/*///////////////////////////////////*/
.box {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 25px;
}

/*.border{*/
/*  border: 1px solid black;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/


/*.circle {*/
/*  padding: 10px;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border: 1px solid black;*/
/*  border-radius: 50%;*/
/*  margin: 10px 10px;*/

/*}*/

/*h3 {*/
/*  font-size: 20px;*/
/*}*/

/*body {*/
/*  font-family: Arial, sans-serif;*/
/*  background: #f5f5f5;*/
/*  display: flex;*/
/*  justify-content: center;*/

/*}*/
/*!*.card {*!*/
/*!*  background: #f6eed4;*!*/
/*!*  border-radius: 10px;*!*/
/*!*  box-shadow: 0 4px 10px rgba(0,0,0,0.1);*!*/
/*!*  width: 300px;*!*/
/*!*  padding: 20px;*!*/
/*!*  transition: transform 0.2s ease;*!*/
/*!*}*!*/
/*!*.card:hover {*!*/
/*!*  transform: scale(1.03);*!*/
/*!*}*!*/
/*!*.car-title {*!*/
/*!*  font-size: 1.4em;*!*/
/*!*  font-weight: bold;*!*/
/*!*  margin-bottom: 10px;*!*/
/*!*}*!*/
/*!*.car-detail {*!*/
/*!*  margin: 5px 0;*!*/
/*!*  color: #555;*!*/
/*!*}*!*/
/*!*.badge {*!*/
/*!*  display: inline-block;*!*/
/*!*  padding: 4px 8px;*!*/
/*!*  border-radius: 5px;*!*/
/*!*  font-size: 0.8em;*!*/
/*!*  color: white;*!*/
/*!*}*!*/
/*!*.badge.electric {*!*/
/*!*  background: #4caf50;*!*/
/*!*}*!*/
/*!*.badge.gas {*!*/
/*!*  background: #ff9800;*!*/
/*!*}*!*/

/*!*.container {*!*/
/*!*    height: 1200px;*!*/
/*!*    background-color: #c2ddc2;*!*/
/*!*!*}*!*!*/
/*!*.item {*!*/
/*!*  margin: 5px auto;*!*/
/*!*  background-color: cadetblue;*!*/
/*!*  color: floralwhite;*!*/
/*!*  padding: 10px;*!*/
/*!*  border: 1px solid black;*!*/
/*!*}*!*/


/*!*.btn {*!*/
/*!*  width: 50px;*!*/
/*!*  height: 30px;*!*/
/*!*}*!*/
/*.upgrade{*/
/*  font-size: 25px;*/
/*  padding: 20px;*/

/*}*/


/*!*.container {*!*/
/*!*  height: 1000px;*!*/
/*!*}*!*/

/*.circle {*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  border-radius: 50%;*/

/*}*/
/*!*.box {*!*/
/*!*  width: 100%;*!*/
/*!*  border: 1px solid black;*!*/
/*!*  height: 200px;*!*/
/*!*}*!*/

.btn {

    padding: 7px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    box-shadow: 3px 3px 6px rgba(136, 136, 136, 0.4);
    background-color: darkcyan;
}
/*.btn:active {*/
/*  background-color: #dfdfdf;*/
/*  transform: translateY(3px);*/
/*  width: 45px;*/

/*}*/

.pad {
    padding: 10px;
}

.gap10 {
    gap: 20px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

.grow1 {
    flex: 1;
}
.grow2 {
    flex: 2;
}
.grow3 {
    flex: 3;
}

.grow4 {
    flex: 4;
}
.j-space-evenly {
    justify-content: space-evenly;
}
.j-center{
    justify-content: center;
}
.j-space-between{
    justify-content: space-between;
}
.j-start {
    justify-content: flex-start;
}
.j-end {
    justify-content: flex-end;
}
.j-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.txt-align{
    text-align: center;
}

.border {
    border: 1px solid black;
    border-radius: 8px;
}

.margin-btm{
    margin-bottom: 25px;
}

/*a {*/
/*  color: rgba(57, 54, 54, 0.9);*/
/*  font-size: 20px;*/
/*  padding: 10px 15px;*/
/*}*/
.inpt {
    padding: 10px 15px;
    border-radius: 8px;
    border:none;
    background-color: rgba(211, 211, 211, 0.3);
    text-align: center;
    box-shadow: 3px 3px 6px rgba(136, 136, 136, 0.4);
}

/*.toolbar-input[type="color"] ,*/
/*.sidebar-input[type="color"],*/
/*.post-input[type="color"],*/
/*.footer-input[type="color"]*/
/*{*/
/*  width: 70%;       !* or a fixed value like 120px *!*/
/*  height: 40px;      !* increase height *! !* optional *!*/
/*  border-radius: 5px;*/
/*  border:none;*/
/*  background-color: rgba(211, 211, 211, 0.3);*/
/*  text-align: center;*/
/*  box-shadow: 3px 3px 6px rgba(136, 136, 136, 0.4);*/

/*}*/




