.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/*///////////////////////////////////////*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 15px
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card {
    width: 350px;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.card2 {

    border: 4px solid #a39cb3;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn {

    padding: 7px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    box-shadow: 3px 3px 6px rgba(136, 136, 136, 0.4);
    background-color: darkcyan;
    margin: 20px;
    width: 150px;
}

.progressWrapper{
    width: 500px;
    height: 40px;
    background-color: cornsilk;
    margin-bottom: 10px;
    border: 2px solid #bbcaca;

}
.progressBar {
    height: 100%;
    width: 0;
    background-color: cornflowerblue;
}

.pad {
    padding: 10px;
}

.gap10 {
    gap: 20px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

.grow1 {
    flex: 1;
}
.grow2 {
    flex: 2;
}
.grow3 {
    flex: 3;
}

.grow4 {
    flex: 4;
}
.j-space-evenly {
    justify-content: space-evenly;
}
.j-center{
    justify-content: center;
}
.j-space-between{
    justify-content: space-between;
}
.j-start {
    justify-content: flex-start;
}
.j-end {
    justify-content: flex-end;
}
.j-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.txt-align{
    text-align: center;
}

.border {
    border: 1px solid black;
    border-radius: 8px;
}

.margin-btm{
    margin-bottom: 10px;
}


